// TEXT
$txt: #121258;

// CTA
$cta: #121258;
$ctaover: #fff;

// BACKGOUNDS
$grey1: #e5e5e5;
$blue1: #c5e5fb;
$blue2: #93c9ff;
$blue3: #659eff;

.greybg1 {
    background-color: $grey1;
}
.bluebg1 {
    background-color: $blue1;
}
.bluebg2 {
    background-color: $blue2;
}
.bluebg3 {
    background-color: $blue3;
}